# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
build/
*.spec

# Logs & state (local only, not repo)
*.log
state.json
limiter.log

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
